body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #F7F7F7;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

svg {
  transition: fill 0.2s linear;
}
svg:hover, svg:focus {
  fill: #E39128;
}

header {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

.header-container {
  top: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.logo-box {
  display: flex;
  align-items: center;
}
.logo-box img {
  margin-right: 15px;
}
.logo-box h2 {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 60px;
}

.nav-block ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.nav-block ul li {
  cursor: pointer;
}
.nav-block ul li:not(:last-child) {
  margin-right: 65px;
}
.nav-block ul a {
  font-size: 23px;
  line-height: 60px;
}
.nav-block ul a:hover, .nav-block ul a:focus {
  text-decoration: underline;
}

.btn-search {
  padding: 11px 23px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: solid 2px #CD6326;
}
.btn-search:hover, .btn-search:focus {
  background-color: #CD6326;
}

.survival {
  background-color: #02160b;
}

.articles {
  background-color: #cccccc;
}

footer {
  background-color: #181617;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 120px;
}

.btn {
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: "Roboto", sans-serif;
  color: #F7F7F7;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  transition: background-color 0.2s linear;
}

.survival__container {
  display: flex;
  align-items: center;
  height: 780px;
  background: url(../assets/fox.jpg) no-repeat center;
  background-size: cover;
}

.info-block {
  display: flex;
  flex-direction: column;
  max-width: 274px;
  margin-bottom: 40px;
}
.info-block h1 {
  margin-bottom: 51px;
  color: #CD6326;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
}
.info-block p {
  margin-bottom: 49px;
  color: #F7F7F7;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.info-block .btn-donate {
  border: none;
  padding: 16px 43px;
  background-color: #CD6326;
}
.info-block .btn-donate:hover, .info-block .btn-donate:focus {
  background-color: #E39128;
}

.articles_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-box {
  margin-top: 120px;
  margin-bottom: 120px;
  color: #666666;
  text-align: center;
}
.heading-box h2 {
  font-size: 48px;
  line-height: 72px;
  color: #333333;
  margin-bottom: 20px;
}
.heading-box span {
  font-size: 24px;
  line-height: 36px;
}

.slider-box {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-right {
  transform: rotate(180deg);
}

.arrow-left, .arrow-right {
  position: relative;
  top: 2px;
  cursor: pointer;
}

.slider {
  width: 100%;
  max-width: 1020px;
}

.slider__content {
  display: flex;
  justify-content: space-between;
}

.slider-block {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 300px;
  height: 360px;
}

.text-block {
  text-align: center;
  margin-bottom: 40px;
}
.text-block h4 {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}
.text-block span {
  font-size: 17px;
  line-height: 27px;
}

.deer {
  background: url(../assets/sliderImgOne.jpg) no-repeat;
}

.squirrel {
  background: url(../assets/sliderImgTwo.jpg) no-repeat;
}

.bird {
  background: url(../assets/sliderImgThree.jpg) no-repeat;
}

.form-box {
  margin-top: 240px;
  margin-bottom: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-box h3 {
  margin-bottom: 59px;
  color: #333333;
  text-align: center;
  font-size: 27px;
  line-height: 40px;
  font-weight: 400;
}

.search-block {
  display: inherit;
}

.search-block__input {
  width: 509px;
  height: 34px;
  padding: 13px 15px;
  outline: none;
  border: 1px solid #666666;
  border-right: none;
  border-radius: 3px 0 0 3px;
  background-color: #cccccc;
  color: #666666;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
}
.search-block__input::placeholder {
  font-family: Roboto, sans-serif;
  color: #666666;
  font-size: 22px;
  font-weight: 400;
}

.btn-send {
  padding: 11px 35px;
  background-color: #CD6326;
  border: none;
  border-radius: 0 5px 5px 0;
}
.btn-send:hover, .btn-send:focus {
  background-color: #E39128;
}

.footer-content {
  height: 360px;
  background: url(../assets/footerImg.jpg) no-repeat;
}
.footer-content .logo-box {
  margin-right: 15px;
}
.footer-content .nav-block {
  width: 100%;
  max-width: 480px;
}
.footer-content .nav-block ul {
  justify-content: space-between;
}

.conten-box {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  max-width: 240px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.circle:hover, .circle:focus {
  background-color: #E39128;
}
.circle:hover svg, .circle:focus svg {
  fill: #F7F7F7;
}
