@import "variables";

.footer-content {
  height: 360px;
  background: url(../assets/footerImg.jpg) no-repeat;

  .conten-box {
    li:not(:last-child) {
      margin-right: 86px;
    }
  }
}

.conten-box {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: background-color 0.2s linear;

  &:not(:last-child) {
    margin-right: 26px;
  }

  &:hover, &:focus {
    background-color: $orange-hover;
    i {
      color: $font-light;
    }
  }

  i {
    font-size: 26px;
    color: #134731;
    transition: color 0.2s linear;
  }
}
